# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
deepfake_env/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Others
*.csv